/*** General Styling ***/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
	font-family: 'Raleway';
  font-weight: bold;
  font-size: 35px;
}

h2, h4, h5{
	font-family: 'Raleway';
  color:#616161;
  font-size: 30px;
}

h3 {
  font-family: 'Raleway';
  color:#ffffff;
  font-size: 36px;
}

h4 {
  font-family: 'Raleway';
  color:#616161;
  font-size: 24px;
}

h6 {
  font-family: 'Raleway';
  color:#ffffff;
  font-size: 36px;
}

body{
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway';
  font-size: 18px;
}

a {
  color: #607D8B;
}

/*** Navbar Styling ***/

        .navbar {
            font-size: 18px;
            background-color: #F5F5F5;
            border: none;
            color: #333333;
            box-shadow: 0 3px 2px -2px rgba(0,0,0,.2);
        }

        .main-nav {
            list-style-type: none;
            display: none;
            color: #333333;

        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: #333333;
        }

        .main-nav {
          text-align: center;
          border-top: 2px solid #333333;
          width: 100%;

        }

        .main-nav li {
            display: inline-block;
            margin: auto 20px auto;
            position: relative;
            color: #333333;
        }

        .logo {
            display: inline-block;
            font-size: 22px;
            margin-top: 5px;
            margin-left: 15px;
            margin-bottom: 20px;
            color: #333333;
        }

        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: #333333;
            font-size: 24px;
        }

        .activenav {
            display: block;
            color: #607D8B;
        }

        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 60px;
                align-items: center;
                color: #333333;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
                color: #333333;
                border: none;
                margin-top: 0px;
            }

            .main-nav li {
                margin: 0px;
                color: #333333;
                margin-top: -45px;

            }

            .nav-links {
                margin-left: 40px;
                color: #333333;
                margin-top: 0px;

            }

            .logo {
                margin-top: 0;
                color: #333333;

            }

            .navbar-toggle {
                display: none;
                color: #333333;

            }

            .logo:hover,
            .nav-links:hover {
                color: #607D8B;
                text-decoration: none;
            }

            .activenav {
              color: #607D8B;
              font-weight: 600;
            }
        }



/*** Banner Styling ***/

        .home-banner-large-container {
          padding-top: 110px;
        }

        .home-banner-container {
          width: 100%;
          position: relative;
          margin: -55px 0;
        }

        /* Hide the images by default */
        .home-slides {
          display: none;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* The dots/bullets/indicators */
        .dot {
          cursor: pointer;
          height: 8px;
          width: 8px;
          margin: 50px 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
          background-color: #717171;
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @media screen and (max-width: 768px) {
          .home-banner-large-container {
          padding-top: 130px;
          }
        }


/*********** Homepage Tagline *************/

.homePageTag p {
  font-family: 'Raleway';
  color:#616161;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 50px;
  margin-top: -10px;
}


/************************* OUR CURRENT WORK ************************************/

.currentWork {
  background-color: #F5F5F5;
}

.currentWork h1 {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
}

.currentWorkItems {
  display: inline-block;
}

/* on PC */
@media screen and (min-width: 768px) {
  .currentWorkImg {
    float: left;
    width: 37%;
    padding-left: 10%;
    padding-top: 20px;
  }
  .currentWorkImg img {
    width: 100%;
    }
  .currentWorkText {
    float: left;
    width: 63%;
    padding-right: 10%;
    padding-left: 2.5%;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
/* on Mobile */
@media screen and (max-width: 768px) {
  .currentWorkImg {
    width: 90%;
  }
  .currentWorkImg img {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
  }
  .currentWorkText {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .currentWork h1 {
    padding-left: 5%;
  }
}



/************************* PAST PROJECTS AND ACHIEVEMENTS ************************************/


.circle {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: red;
}

.pastProjects {
  padding: 50px 150px;
}


  /**ACCORDIAN**/


.accordion {
		width: 100%;
		max-width: 1080px;
		height: 350px;
		overflow: hidden;
		margin: 50px auto;
		padding-top:10px;
		padding-bottom:10px;
	}

	.accordion > ul {
		width: 100%;
		display: table;
		table-layout: fixed;
		margin: 0;
		padding: 0;
	}

	.accordion > ul > li {
		display: table-cell;
		vertical-align: bottom;
		position: relative;
		width: 16.666%;
		height: 350px;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all 500ms ease;
	}

	.accordion > ul > li > div {
		display: block;
		overflow: hidden;
		width: 100%;
	}

	.accordion > ul > li > div > a {
		display: block;
		height: 350px;
		width: 100%;
		position: relative;
		z-index: 3;
		vertical-align: bottom;
		padding: 15px 20px;
		box-sizing: border-box;
		color: #fff;
		text-decoration: none;
		font-family: 'Raleway';
		transition: all 200ms ease;
	}

	.accordion > ul > li > div > a > * {
		opacity: 0;
		margin: 0;
		width: 100%;
		text-overflow: ellipsis;
		position: relative;
		z-index: 5;
		/*white-space: nowrap;*/
		overflow: hidden;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
		-webkit-transition: all 400ms ease;
		transition: all 400ms ease;
	}

	.accordion > ul > li > div > a > h6 {
		text-overflow: clip;
		text-transform: uppercase;
		margin-bottom: 2px;
		top: 74px;
	}

	.accordion > ul > li > div > a > p {
		top: 90px;
		font-size: 16px;
    	font-family: 'Raleway';
	}

	.accordion > ul > li > div > a > ul {
		top: 110px;
		font-size: 16px;
    	font-family: 'Raleway';
	}

	.accordion > ul > li > div > a > b {
		top: 100px;
		font-size: 19px;
    	font-family: 'Raleway';
	}



  	@media screen and (min-width: 950px) {

  		.accordion > ul:hover > li { width: 8%; }

  		.accordion > ul:hover > li:hover { width: 60%; }

  		.accordion > ul:hover > li:hover a { background: rgba(0, 0, 0, 0.4); }

  		.accordion > ul:hover > li:hover a * {
  			opacity: 1;
  			-webkit-transform: translateX(0);
  			transform: translateX(0);
  		}
  	}

  	@media screen and (max-width: 949px) {

  		body { margin: 0; }

  		.accordion {
  			height: auto;
  			margin: 0 auto;
  		}

  		.accordion > ul > li {
  			position: relative;
  			display: table;
  			table-layout: fixed;
  			margin: 0 auto;
  			width: 100%;
  			height: 350px;
  			background-size: cover;
      		background-repeat: no-repeat;
      		background-position: center;
  			-webkit-transition: none;
  			transition: none;
  		}

  		.accordion > ul > li > div > a {
  			background: rgba(0, 0, 0, 0.4);
  			margin: 0 auto;
  			width: 100%
  		}

  		.accordion > ul> li > div > a > * {
  			opacity: 1;
  			-webkit-transform: translateX(0);
  			transform: translateX(0);

  		}

  		.accordion > ul > li > div > a > h6 {
  			top: 84px;
  		}

  		.accordion > ul > li > div > a > p {
  			top: 100px;
  		}

  		.accordion > ul > li > div > a > ul {
  			top: 120px;
  		}

  		.accordion > ul > li > div > a > b {
  			top: 110px;
  		}
  	}

  	@media screen and (max-width: 550px) {
  		.accordion > ul > li > div > a > h6 {
  			top: 34px;
  			font-size: 28px;
  		}

  		.accordion > ul > li > div > a > p {
  			top: 50px;
  			font-size: 14px;
  		}

  		.accordion > ul > li > div > a > ul {
  			top: 70px;
  			font-size: 14px;
  		}

  		.accordion > ul > li > div > a > b {
  			top: 60px;
  			font-size: 17px;
  		}
  	}

  	/* iPhone 5 */
  	@media screen and (max-width: 350px) {
  		.accordion > ul > li > div > a > h6 {
  			top: 19px;
  			font-size: 28px;
  		}

  		.accordion > ul > li > div > a > p {
  			top: 35px;
  			font-size: 13px;
  		}

  		.accordion > ul > li > div > a > ul {
  			top: 55px;
  			font-size: 13px;
  		}

  		.accordion > ul > li > div > a > b {
  			top: 45px;
  			font-size: 16px;
  		}
  	}


/***************** Donate **********************/

.donate {
  background-color: #f5f5f5;
}

.donate h1 p {
  padding-left: 10%;
  padding-right: 10%;
}







/***************** Sponsors **********************/












/******* Footer ********/


        footer{
        	position: fixed;
        	bottom: 0;
        }

        @media (max-height:800px){
        	footer { position: static; }
        	header { padding-top:40px; }
        }

        .footer-distributed{
        	background-color: #F5F5F5;
        	box-sizing: border-box;
        	width: 100%;
        	text-align: left;
          font-family: 'Raleway';
        	font: bold 16px sans-serif;
        	padding: 50px 50px 60px 50px;
        	margin-top: 80px;
        }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
        	display: inline-block;
        	vertical-align: top;
        }

        /* Footer left */

        .footer-distributed .footer-left{
        	width: 30%;
        }

        .footer-distributed h3{
        	color:  #333333;
        	font: normal 36px 'Raleway', cursive;
        	margin: 0;
        }

        /* The company logo */

        .footer-distributed h3 span{
        	color:  #607D8B;
        }

        /* Footer links */

        .footer-distributed .footer-links{
        	color:  #333333;
        	margin: 20px 0 12px;
        }

        .footer-distributed .footer-links a{
        	display:inline-block;
        	line-height: 1.8;
        	text-decoration: none;
        	color:  inherit;
        }

        .footer-distributed .footer-company-name{
        	color:  #8f9296;
        	font-size: 14px;
        	font-weight: normal;
        	margin: 0;
        }

        /* Footer Center */

        .footer-distributed .footer-center{
        	width: 35%;
        }


        .footer-distributed .footer-center i{
        	background-color:  #607D8B;
        	color: #ffffff;
        	font-size: 25px;
        	width: 38px;
        	height: 38px;
        	border-radius: 50%;
        	text-align: center;
        	line-height: 42px;
        	margin: 10px 15px;
        	vertical-align: middle;
        }

        .footer-distributed .footer-center i.fa-envelope{
        	font-size: 17px;
        	line-height: 38px;
        }

        .footer-distributed .footer-center p{
        	display: inline-block;
        	color: #333333;
        	vertical-align: middle;
        	margin:0;
        }

        .footer-distributed .footer-center p span{
        	display:block;
        	font-weight: normal;
        	font-size:14px;
        	line-height:2;
        }

        .footer-distributed .footer-center p a{
        	color:  #607D8B;
        	text-decoration: none;;
        }


        /* Footer Right */

        .footer-distributed .footer-right{
        	width: 30%;
        }

        .footer-distributed .footer-company-about{
        	line-height: 20px;
        	color:  #92999f;
        	font-size: 13px;
        	font-weight: normal;
        	margin: 0;
        }

        .footer-distributed .footer-company-about span{
        	display: block;
        	color:  #ffffff;
        	font-size: 18px;
        	font-weight: bold;
        	margin-bottom: 20px;
        }

        .footer-distributed .footer-icons{
        	margin-top: 25px;
        }

        .footer-distributed .footer-icons a{
        	display: inline-block;
        	width: 35px;
        	height: 35px;
        	cursor: pointer;
        	background-color:  #607D8B;
        	border-radius: 2px;

        	font-size: 20px;
        	color: #ffffff;
        	text-align: center;
        	line-height: 35px;

        	margin-right: 3px;
        	margin-bottom: 5px;
        }

        /* Here is the code for Responsive Footer */
        /* You can remove below code if you don't want Footer to be responsive */


        @media (max-width: 880px) {

        	.footer-distributed .footer-left,
        	.footer-distributed .footer-center,
        	.footer-distributed .footer-right{
        		display: block;
        		width: 100%;
        		margin-bottom: 40px;
        		text-align: center;
        	}

        	.footer-distributed .footer-center i{
        		margin-left: 0;
        	}

        }
